
.flex{
    display: flex;
}
.content-colomn{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
   justify-content: space-around;
}
.content-center{
    align-items: center;
}
.text-center{
    text-align: center;
}

